body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Noto Sans', sans-serif;
}

h1 {
    font-size: 2.3rem;
    font-family: 'Noto Sans', sans-serif;
}

h2,
h3 {
    font-family: 'Noto Sans';
}

h2 {
    font-size: 2rem;
}

h3,
p,
li {
    font-size: 1rem;
}

.colors-list,
.fonts-list {
    list-style-type: none;
}

.swatch {
    width: 60%;
    height: 3rem;
    box-shadow: 0 0 5px rgba(102, 102, 102, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.black {
    background-color: #1a0a0b;
    color: #ffffff;
}

.blue {
    background-color: #059cae;
}

.green {
    background-color: #7fe907;
}

.red {
    background-color: #cf1920;
}
