body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Noto Sans', sans-serif;
    background-image: url(../img/spin-bkg.jpg);
    background-position: top right;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    font-size: 2.4rem;
    font-family: 'Noto Sans', sans-serif;
}

h2,
h3 {
    font-family: 'Noto Sans';
}

h2 {
    font-size: 2rem;
}

h3,
p,
li {
    font-size: 1rem;
    line-height: 1.5rem;
}

/* STANDARD SPACING RULES */
* + * {
    margin-top: 1rem;
}

section + section {
    margin-top: 4rem;
}

/* STANDARD RULES FOR SECTIONING ELEMENTS */
main,
aside,
header {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
}

/* HEADER SETTINGS */
header {
    background-color: #cf1920;
    position: relative;

}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; /* Positioning forces the h1 to ignore default margins and span entire viewport width. Used this method since I planned on using positioning for larger screens anyways. */
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #ffffff;
    width: auto;
    box-shadow: 0 3px 5px rgba(102, 102, 102, 0.4);
    padding: 1rem 2rem 1rem 1rem; /* Extra padding on right balances negative space in the logo icon file. */
    font-weight: 500;
    border-bottom: solid 1.5rem #cf1920;
}

h1 img {
    width: 5rem;
}

/* IMAGES DEFAULT SETTINGS */
img {
    width: 100%;
}

/* BUTTON SETTINGS */
.button-container {
    margin-top: 2rem;
    text-align: right;
}

.button {
    background-color: #cf1920;
    color: #ffffff;
    padding: 1rem;
    text-decoration: none;
    transition: padding 0.25s ease-in, font-size 0.25s ease-in; /* Transform would have no effect on button size unless you target its container. This was cleaner and there's only a tiny shift in surrounding elements. */
}

.button:hover {
    padding: 1.1rem;
    font-size: 1.1rem;
    box-shadow: 0 3px 5px rgba(102, 102, 102, 0.4);
    transition: padding 0.25s ease-in, font-size 0.25s ease-in;
}

/* COLOR SWATCHES */
.colors-list,
.fonts-list {
    list-style-type: none;
    padding-left: 0; /* Aligns list contents flush left w/ other content */
}

.swatch {
    width: 100%;
    height: 4rem;
    box-shadow: 0 3px 5px rgba(102, 102, 102, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    border: solid 1px rgba(202, 202, 202, 0.7);
    background-color: #ffffff;
}

.black {
    background-color: #1a0a0b;
    color: #ffffff;
}

.blue {
    background-color: #059cae;
}

.green {
    background-color: #7fe907;
}

.red {
    background-color: #cf1920;
}

/* -------------------MEDIA QUERY 750 PX + ------------------------- */
@media (min-width: 800px) {

    h1 {
        right: initial;
        border-bottom: none;
    }

    main {
        width: 80%;
        margin: 1rem auto;
    }
}
